html {
    /* border: 3px double cadetblue; */
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* overflow-y: hidden; */
}

body {
    position: relative;
    /* text-align: center; */
    /* border: 3px solid red;  */
    height: 100%;
    /* min-width: 100%; */
    margin: 0;
    padding: 0;
    /* background: rgb(2,0,36); */
    background-image: linear-gradient(to top, #ffffff, #f8faff, #ebf7ff, #daf5ff, #caf3f9, #bdf4f5, #b2f4ee, #aaf4e3, #9cf7e0, #8efadd, #80fdd8, #71ffd3);    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*overflow-y: scroll; edit here */

}

header {
    /* border: 5px dotted darkgoldenrod; */
    /* margin-top: 2%; */
    position: relative;
    width: 100%;
}

.headerContainer {
    /* border: 2px double purple; */
    height: 50px;
}

.headerContainer .headerLogo {
    position: relative;
    display: inline;
    float: left;
    margin-top: 5px;
    margin-left: 38.4px; /* equiv -> 2vh */
}

.headerContainer .headerItem {
    display: inline;
    float: right;
    right: 0;
    line-height: 50px;
    margin-right: 38.4px;
}

.headerContainer .headerItem a {
    margin: 0px 13px 0px 13px;
}

footer {
    /* border: 3px dotted green; */
    position: relative;
    bottom: 0;
    width: 100%;
    /* position: absolute; */
    /* bottom: 0; */
    /* left: 0; */
    /* margin-bottom: 1%; */
    /* width: 100%; */
    /* border: 1px solid black; */
    /* padding: 0; */
    z-index: -2;
    
    /* margin-top: 100vh; */
}

.footerContainer {
    position: inherit;
    /* border: 3px dashed red; */
    /* bottom: 0; */
    width: 100%;
    margin: auto;
    /* margin: 0; */
    /* padding: 0; */
    z-index: -2;
    
    /* margin-top: 100vh; */
}

.mainContainer {
    position: relative;
    border: 2px solid #fed8b1;
    border-left: none;
    border-right: none;
    border-top: 1px solid #fed8b1;
    border-bottom: none;
    /* min-height: 100%; */
    height: 100%; /*hereeeeeeeeeeeeeeeeeeeeeeeee*/
    min-height: 80%;
    overflow-y: scroll;
}

.firstDiv {
    /* border: 3px solid magenta;  */
    width: 80%;
    margin: auto;
    /* overflow-y: visible; */
    /* min-height: 100vh; */
    z-index: -1;
    /* height: 100%; */
}

.secondDiv {
    /* border: 4px dotted mediumpurple; */
    /* margin-top: 12vh; */
    width: auto;
    margin: auto;
    text-align: center;
    margin-top: 20%;
}

#mainLogo {
    position: absolute;
    /* border: 2px solid darkorange; */
    /* width: 150px; */
    /* height: 130px; */
    /* border-radius: 50%; */
    margin: auto;
    margin-top: 35px;
    margin-left: 73px;
}

/* #theLogo {
    border: 2px dotted black;
} */

#theLogo:hover {
    cursor: default;
}

.logoBgDiv {
    display: flex;
    width: 80%;
    height: 300px;
    /* border: 2px dotted blue; */
    margin: auto;
}

.leftSide {
    border: 2px dashed blue;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-left: 50%;
    width: 145px;
    height: 170px;
    margin: auto;
    /* margin-top: 10%; */
    transition: transform .2s;
}

.rightSide {
    /* display: flex; */
    border: 2px dashed rgb(238, 130, 238);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    width: 145px;
    height: 170px;
    margin: auto;
    /* margin-top: 10%; */
    transition: transform .2s;
}

.rightSide:hover {
    background-color: rgb(228, 196, 228);
    transform: scale(1.5);
}

.leftSide:hover {
    background-color: lightblue;
    transform: scale(1.5);
}

.logoContainer {
    display: flex;
    margin: auto;
    /* border: 2px double crimson; */
}

h1 p { /* belongs to index.php */
    display: inline-flex;
    transition: transform .2s;
    /* margin: 0;
    padding: 0; */
}

h1 p:hover {
    color: brown;
    transform: scale(1.2);
    cursor: default;
}

.logoContainer a { /* belongs to index.php */
    text-decoration: none;
}

.areaContainer {
    /* border: 2px solid black; */
    text-align: center;
    display: flex;
    height: 150px;
    position: absolute;
    width: 80%;
    z-index: 1;
}

.loginArea, .registerArea {
    flex: 1;
    max-width: 50%;
    height: 100%; /* to fit the parent box */
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    transition: transform .2s;
    line-height: 130px;
    /* z-index: 0; */
}

.loginArea:hover, .registerArea:hover {
    /* opacity: 0.2; */
    transform: scale(1.2);
    cursor: pointer;
}

.loginArea {
    /* border: 3px dotted red; */
}

.registerArea {
    /* border: 3px dotted blue; */
}

.mainContentDiv { /* used by loginRegisterPage.php */
    position: absolute;
    /* border: 3px double rgb(255, 0, 0); */
    /* height: 100%; */
    width: 80%;
    z-index: 0; /* to place it on top of "firstDiv" */
    display: block;
}

.loginRegContainer {
    /* border: 2px solid rgb(223, 248, 0); */
    position: relative;    /* margin: 30%; */
    /* margin-top: 150px; */
    width: 100%;
    /* height: 95%; */
    /* overflow-y: scroll; */
}

.loginContainer {
    /* border: 4px solid rgb(104, 44, 215); */
}

.regContainer {
    /* border: 2px solid rgb(247, 0, 255); */
}

.loginContainer:hover, .regContainer:hover {
    /* background-color: #71ffd3; */
}

#loginRegCarousel {
    /* border: 2px solid #7f71ff; */
    margin-top: 160px;
}

.loginFormDiv, .registerFormDiv {
    /* border: 3px groove red; */
    /* min-height: 700px; */
    /* height: 700px; */
    text-align: center;
}

.registerFormDiv {
    /* overflow-y: scroll; */
}

#login {
    margin-top: 3%;
} 

#register {
    margin-top: 3%;
}

#formHrLine {
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.carousel-inner {
    /* border: 2px dashed blue; */
    position: relative;
}